/*
* -------------------------------------------------
* Iris config
* -------------------------------------------------
* Pipeline parameters specific to running with slurm on the IRIS cluster at MSKCC
* -------------------------------------------------
*/
profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'componc_cpu,componc_gpu'
    }
}

params {

  // Limit resources so that this can run CI
  max_cpus   = 10
  max_memory = 40.GB
  max_time   = 240.h
}


