/*
* -------------------------------------------------
* Iris config
* -------------------------------------------------
* Pipeline parameters specific to running with slurm on the IRIS cluster at MSKCC
* -------------------------------------------------
*/
profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'componc_cpu,componc_gpu'
    }
}

process {
    withName: 'NFCORE_RNAFUSION:RNAFUSION:FUSIONCATCHER_WORKFLOW:FUSIONCATCHER' {
        memory = 80.GB
        cpus = 10
        time = 20.h
    }
}
